@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900");
:root {
	--yeliv: #111;
	--purliv: #ddd;
	--hamsickred: #d22630;
}
@media (prefers-color-scheme: dark) {
	:root {
		--yeliv: #000;
		--purliv: #555;
	}
}
body {
	background-color: var(--purliv);
	color: var(--yeliv);
	font-family: "Raleway", sans-serif;
	margin: 0;
	text-align: center;
}
ul {
	list-style: none
}
ul li {
	margin-left: -2em;
	margin-bottom: .5em;
	font-size: 1.5em;
}
a {
	color: var(--yeliv);
	font-weight: bold;
	text-decoration: none;
	border-bottom: .25em solid var(--purliv)
}
a:hover {
	border-bottom: .25em solid var(--yeliv)
}
.curVer {
	font-size: 1.5em;
}
.goBack {
	position: absolute;
	font-size: 1.5em;
	left: 1em;
}
.changelog {
	text-align: center;
}
.changelog h1 {
}
.oldVer {
	text-align: center;
}
.oldVer h1 {
}
@media(min-width: 73rem) {
	.changelog {
		text-align: left;
		margin-left: 2em;
		max-width: 500px;
	}
	.changelog h1 {
		margin-left: 2em;
	}
	.oldVer {
		text-align: right;
		margin-top: -67em;
		margin-right: 10em;
	}
	.oldVer h1 {
		margin-right: 1.5em;
	}
}
