@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900");
:root {
	--yeliv: #111;
	--purliv: #ddd;
	--hamsickred: #d22630;
}
@media (prefers-color-scheme: dark) {
	:root {
		--yeliv: #aaa;
		--purliv: #111;
	}
}
body {
	background-color: var(--purliv);
	color: var(--yeliv);
	font-family: "Raleway", sans-serif;
	text-align: center;
}
ul {
	list-style: none
}
ul li {
	font-size: 1.5em;
}
a {
	color: var(--yeliv);
	font-weight: bold;
	text-decoration: none;
	border-bottom: .25em solid var(--purliv)
}
a:hover {
	border-bottom: .25em solid var(--yeliv)
}
.curVer {
	font-size: 1.5em;
}
.goBack {
	position: absolute;
	font-size: 1.5em;
	left: 1em;
}